<clr-main-container>
  <div class="content-container">

      <div class="content-area" #contentArea>
      <router-outlet></router-outlet>
    </div>

    <clr-vertical-nav >
      <a clrVerticalNavLink [routerLink]="['user']" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="user"></cds-icon>
        User
      </a>
      <a clrVerticalNavLink [routerLink]="['question']" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="step-forward-2"></cds-icon>
        Question
      </a>
      <a clrVerticalNavLink [routerLink]="['info']" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="info-standard"></cds-icon>
        Info
      </a>

    </clr-vertical-nav>

  </div>


  <div class="mobile-footer">
<h2>Bildungskarenzquiz</h2>
  </div>
</clr-main-container>